<% start = true
  DbChecklistsController::WEEK_CHECKLIST.each do |c| %>
		<tr>
			<%if start 
			     rowspan=DbChecklistsController::WEEK_CHECKLIST.size%>
			   <th rowspan='<%=rowspan%>'>每週<th>
			   <td><%=c%></td>
				 <%=boolean_cell%>
				 <td colspan='4' rowspan='<%=rowspan%>'></td>
				 <% start=false %>
			<%else%>
				 <% start=false %>
				 <td></td>
				 <td><%=c%></td>
				 <%=boolean_cell%>
			 <%end%>
		</tr>
	<%end%>

