<center>
<h1>花蓮縣地方稅務局地方稅稅務資料庫檢查項目表</h1>
<table class='elt_checkup_list'>
	<%=render :partial => 'day_checklist'%>
	<%=render :partial => 'week_checklist'%>
	<%=render :partial => 'month_checklist'%>
	<%=render :partial => 'season_checklist'%>
	<%=render :partial => 'random_checklist'%>
	<%=render :partial => 'result'%>
	<%=render :partial => 'sign'%>
</table>
</center>
