<%=render :partial => "users/admin_bar"%>
<table class="list">
  <tr>
		<th><%='名稱'%></th>
		<th><%='建立日期'%></th>
		<th><%='流水帳數'%></th>
  </tr>
<%for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.created_at.strftime("%m-%d") %></td>
    <td><%=h user.mlogs.size %></td>
    <td class="operation"><%= link_to '刪', user_url(user), 
         :confirm => '你確定要刪除嗎？', :method => :delete %></td>

  </tr>
<% end %>
</table>
