	<label for="tagtree_parent"><%='Parent Tag'%></label><br/>
	<input id="tagtree_parent" name="parent" size="10" type="text" 
	onfocus="window.focus_input='tagtree_parent'"/><br/>
  <label for="tagtree_node"><%='Tag'%></label><br/>
	<input id="tagtree_node" name="node" size="10" type="text" 
	onfocus="window.focus_input='tagtree_node'"/><br/>

<form id="tagtree_form" action="/tagtree/add_node" method="post">
	<div id="functions">
	<%=link_to_submit "Add Tag"%><br/>
	<%=link_to_function "Change Tag", <<-JS
    $('tagtree_form').action = '/tagtree/change_node';
    $('tagtree_form').submit();
	JS
	%><br/>
	<%=link_to_function "Remove Tag", <<-JS
    $('tagtree_form').action = '/tagtree/delete_node';
    $('tagtree_form').submit();
	JS
	%><br/>
	</div>
</form>
