<div id="content">
<%= render_partial "/mlogs/mon_selector"%>
<div id="functions">
<%= link_to '入帳', :action => 'new' %>
</div>
<center>
<table>
  <tr>
		<th><%='日期'%></th>
		<th><%='金額'%></th>
		<th><%='標籤'%></th>
		<th><%='備註'%></th>
  </tr>
<% for mlog in @mlogs %>
  <tr>
    <td><%=h mlog.date %></td>
    <td><%=h mlog.value %></td>
    <td><%=h mlog.tag %></td>
    <td><%=h extract(mlog.comment) %></td>
    <td><%= link_to '顯示', :action => 'show', :id => mlog %></td>
    <td><%= link_to '修改', :action => 'edit', :id => mlog %></td>
    <td><%= link_to '刪除', { :action => 'destroy', :id => mlog }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>
</center>
</div>
