<div id="content">
<%= render :partial => "/mlogs/mon_selector" %>
<div id="operations">
<%= link_to '入帳', 
new_mlog_path(:year => @mmlog.month.year, :month => @mmlog.month.month) %>
</div>
<div id="input">
<b>收支平衡：</b><%=@mmlog.balance%>
<br/>
<b>可支配現金流：</b><%=@mmlog.income_sum - @mmlog.fexpense_sum%>
(可支配現金流 = 收入-固定支出)
<br/>
<table id="income_table">
  <tr>
		<th colspan="2">收入</th>
		<td><%=@mmlog.income_sum%></td>
  </tr>
  <tr>
		<th>科目</th>
		<th>筆數</th>
		<th>總額</th>
  </tr>
<% for tag in @mmlog.income %>
  <tr>
		<td><%=tag.tag%></td>
		<td><%=tag.count%></td>
		<td><%=tag.sum%></td>
  </tr>
<% end %>
</table>

<table id="expense_table">
  <tr>
		<th colspan="2">支出</th>
		<td><%=@mmlog.expense_sum%></td>
  </tr>
  <tr>
		<th colspan="2">固定支出</th>
		<td><%=@mmlog.fexpense_sum%></td>
  </tr>

  <tr>
		<th>科目</th>
		<th>筆數</th>
		<th>總額</th>
  </tr>
<% for tag in @mmlog.expense %>
  <tr>
		<td><%=tag.tag%></td>
		<td><%=tag.count%></td>
		<td><%=tag.sum%></td>
  </tr>
<% end %>

</table>

</div >
</div>
