<div id="content">
<%= render :partial => "/mlogs/mon_selector" %>
<div id="operations">
<%= link_to '入帳', 
new_mlog_path(:year => @mmlog.month.year, :month => @mmlog.month.month) %>
</div>
<div id="form">
<b>收支平衡：</b><%=num_span @mmlog.balance%>
<table id="income_table">
  <tr>
		<th colspan="2">收入</th>
		<%=num_td @mmlog.income_sum%>
  </tr>
  <tr>
		<th>科目</th>
		<th>筆數</th>
		<th>總額</th>
  </tr>
<% for tag in @mmlog.income %>
  <tr>
		<td><%=tag.tag%></td>
		<td><%=tag.count%></td>
		<td><%=tag.sum%></td>
  </tr>
<% end %>
</table>
<table id="expense_table">
  <tr>
		<th colspan="2">支出</th>
		<td><%=@mmlog.expense_sum%></td>
  </tr>
  <tr>
		<th>科目</th>
		<th>筆數</th>
		<th>總額</th>
  </tr>
<% for tag in @mmlog.expense %>
  <tr>
		<td><%=tag.tag%></td>
		<td><%=tag.count%></td>
		<td><%=tag.sum%></td>
  </tr>
<% end %>
</table>
</div>
</div>
