<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mlogs: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'mlog' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "dtree"%>
</head>
<body>
<%= render :partial => "/mlogs/topbar" %>
<div id="content">
<div id="tools">
<div id="treeview">
<%=tree_view2 @tag_tree%>
</div>
</div>
<%=render :partial => '/mlogs/adsense'%>
<%= render :partial => "/mlogs/tasks" %>
<div id="flash"><%= flash[:notice] %></div>
<%= yield  %>
<%=render :partial => '/mlogs/analytic'%>
</body>
</html>
